1. Create a list called years_list, starting with the year of your birth, and each year there after until the year of your fifth birthday. For example, if you were born in 1980. the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years_list=[1997,1998,1999,2000,2001,2002]
years_list

[1997, 1998, 1999, 2000, 2001, 2002]

2. In which year in years_list was your third birthday? Remember, you were 0 years of age for your first year.

In [2]:
#zero yeras of age for your first birtday ,list index value start from zero, and want to find third birth day then
years_list[3]

2000

3.In the years list, which year were you the oldest?

In [6]:
#oldest one means maximum one and last one of given then
max(years_list)
#using index traverse
years_list[-1]

2002

4. Make a list called things with these three strings as elements: "mozzarella", "cinderella", "salmonella".

In [7]:
things=[ "mozzarella", "cinderella", "salmonella"]
things

['mozzarella', 'cinderella', 'salmonella']

5. Capitalize the element in things that refers to a person and then print the list. Did it change the element in the list?

In [13]:
# given three strings element refers to person is cinderella and capitalizing that element
things[1].capitalize()
things
#element in the list did not changed after capitalizing element

['mozzarella', 'cinderella', 'salmonella']

6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [15]:
suprise=["Groucho,", "Chico,", "Harpo."]
suprise

['Groucho,', 'Chico,', 'Harpo.']

7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [28]:
#extracting last element of suprise list.
r=suprise[-1]
print(r)
p=r[::-1] 
print(p)
q=p.capitalize()
print(q)

Harpo.
.opraH
.oprah

8. Make an English-to-French dictionary called e2f and print it. Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [29]:
# making English-to-telugu dictionary and calling as e2f.
e2f={"dog":"chien","cat":"chat","walrus":"morse"}
e2f

{'dog': 'chien', 'cat': 'chat', 'walrus': 'morse'}

9. Write the French word for walrus in your three-word dictionary e2f.

In [30]:
e2f['walrus']

'morse'

10. Make a French-to-English dictionary called f2e from e2f. Use the items method

In [32]:
#making a french to english dictionary
f2e={"chien":"dog","chat":"cat","morse":"walrus"}
f2e
f2e.items()

dict_items([('chien', 'dog'), ('chat', 'cat'), ('morse', 'walrus')])

11. Print the English version of the French word chien using f2e.

In [33]:
f2e['chien']

'dog'

12. Make and print a set of English words from the keys in e2f.

In [35]:
set(e2f.keys()) #set of english words

{'cat', 'dog', 'walrus'}

13. Make a multilevel dictionary called life. Use these strings for the topmost keys: 'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer to empty dictionaries.

In [43]:
life={
    "animals":{"cats":["Henri","Grumpy","lucy"],
               "octapi":{},
               "emus":{},
        
    },
    "plants":{},
    "other":{},
}
life

{'animals': {'cats': ['Henri', 'Grumpy', 'lucy'], 'octapi': {}, 'emus': {}},
 'plants': {},
 'other': {}}

14. Print the top-level keys of life.

In [44]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

15. Print the keys for life['animals'].

In [46]:
life['animals'].keys()

dict_keys(['cats', 'octapi', 'emus'])

16. Print the values for life['animals']['cats']

In [47]:
life['animals']['cats']

['Henri', 'Grumpy', 'lucy']